body {margin: 0px;}

#map{
  z-index: -2;
  position: absolute;
}

.firstPlan {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
  }


.menu {
  height: 100vh;
  width: 25%;
  display: none;
  background-color: #fff9;
  float: right;
  margin-left: 75%;

}

.tools {
  height: 5vh;
  width: 100vw;
  background-color: rgba(255,200,0,0.4);
  display: flex;
  justify-content: space-around;
  position: absolute;
}

.tools ul {
  display: flex;
  justify-content: space-around;
  margin: 0px;
}

.tools ul li {
  display: block;
  margin: 2%;
}

.tools ul li button{
  background-color: #fad390;
  width: 4vh;
  height: 4vh;
  border: 2px solid #f6b93b;
  cursor: pointer;
  color: #e58e26;
  border-radius: 10px;
  transition: all 0.5s ease-out;
}


.selected{
  background-color: #fa983a !important;
  color: #eb2f06 !important;
  border-color: #e58e26 !important;
}

.tools ul li button:hover{
  background-color: #fa983a;
  color: #eb2f06;
  border-color: #e58e26;
}

form {
  display: flex;
  flex-direction: column;
}

svg {
  position: absolute;
  z-index: -1;
  cursor: crosshair;
}

.map {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
